<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">


    <bean id="cachedThreadPool" class="java.util.concurrent.Executors"
          factory-method="newCachedThreadPool"/>
    <!-- 异步处理消费结果回送任务的线程池 -->
    <alias name="cachedThreadPool" alias="asyncTaskExecutor"/>

    <bean id="listeningExecutorService" class="com.google.common.util.concurrent.MoreExecutors"
          factory-method="listeningDecorator" destroy-method="shutdown">
        <constructor-arg ref="cachedThreadPool"/>
    </bean>

</beans>