<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

	<!-- 封包解包的Handler不能@Sharable注解 -->
	<bean name="MsgDecode" class="com.liws.handler.MsgDecode"
		  scope="prototype" />
	<bean name="MsgEncode" class="com.liws.handler.MsgEncode"
		  scope="prototype" />

	<!-- Netty配置 -->
	<bean id="ServerBootStrapConfig" class="com.liws.config.ServerBootStrapConfig" lazy-init="true" />
	<bean id="ServerHandler" class="com.liws.handler.ServerHandler" />


	<alias name="loggingHandler" alias="channelHandler" />

	<bean id="socketAddress" class="java.net.InetSocketAddress">
		<constructor-arg type="String" value="${netty.listen.hostname}" />
		<constructor-arg type="int" value="${netty.listen.port:0}" />
	</bean>

	<bean id="loggingHandler" class="io.netty.handler.logging.LoggingHandler">
		<constructor-arg>
			<util:constant static-field="io.netty.handler.logging.LogLevel.TRACE" />
		</constructor-arg>
	</bean>

	<!-- 端口与通信框架解包类的映射表 -->
	<!-- Netty任务链，用于封包解包等固定操作。会在Worker线程中调用。 -->
	<!-- 这里配置Bean的名字，程序中使用getBean获取。解决某些Handler不能@Sharable注解的问题 -->
	<util:list id="bindChildHandlers">
		<value>MsgDecode</value>
		<value>MsgEncode</value>
	</util:list>

	<util:list id="bindLogicHandlers">
		<ref bean="ServerHandler"/>
	</util:list>

</beans>
